::-webkit-scrollbar{
    background: #000;
    width: 8px;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 10px #000;
    /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(125deg, #FFD700	, #FFD700);
    border-radius: 10px;
}